---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>狂热果粉</li>
            <li>IT民工</li>
            <li>半吊子英语</li>
            <li>奶爸</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <img src="/logo/youtube.png" alt="Youtube">
              <a href="https://www.youtube.com/@st7evetv" target="_blank"> Youtube</a>
            </li>
            <li>
              <img src="/logo/bilibili.png" alt="Bilibili">
              <a href="https://space.bilibili.com/105227246?spm_id_from=333.1007.0.0" target="_blank"> Bilibili</a>
            </li>
            <li>
              <img src="/logo/twitter.png" alt="Twitter">
              <a href="https://twitter.com/st7eveee" target="_blank"> Twitter</a>
            </li>
            <li>
              <img src="/logo/github.png" alt="Github">
              <a href="https://github.com/zxfccmm4" target="_blank">Github</a>
            </li>
          </ul>
        </div>
      </div>



      <div class="archive-tag">
        <h2 class="tag-header">我的设备</h2>
        <div class="tag-post-list">
          <ul>
            
 <li>网络：电信1000M宽带</li>
              
 <li>软路由：J4125四口工控主机</li>

 <li>软路由系统：Unraid丨OpenWrt 丨iKuai</li>

 <li>交换机：网件8口千兆交换机 GS308</li>

 <li>硬路由：小米AX3600丨华硕RT-AC86U 丨 NewWfi-3</li>

 <li>台式机：黑果+Windows10 双系统组装机 丨M1 Mac mini</li>

 <li>笔记本： MacBook Pro 2015丨 MacBook Pro 2019丨 Mac Mini M1 </li>

 <li>平板：Ipad Air</li>

 <li>软件：Final Cut Pro丨 剪映专业版丨 PR</li>

 <li>键盘：FILCO 108 红轴 丨AkkO 3098 蓝轴 丨 Keychron K2丨 珂芝 K75</li>

 <li>相机：SONY a6300 丨佳能 G7X mark III</li>

 <li>手机：iPhone 13 Pro 丨iPhone 13 Mini</li>

 <li>相机镜头：索尼16-50mm狗头丨适马30mm F1.4</li>

 <li>话筒：猛犸无线麦克风</li>

 <li>移动硬盘：东芝 4T丨奥睿科M.2移动硬盘盒+256硬盘丨 雷电 3 扩展坞 + SN550</li>

 <li>U盘：闪迪64G*3</li>

 <li>NAS：DS218 Play 4T*2</li>

            
          </ul>
        </div>
      </div>
      
      <div class="archive-tag">
        <h2 class="tag-header">随想</h2>
        <div class="tag-post-list">
          <ul>
            <li>我常常将人看做机器，他输出了什么，常常取决于他输入了什么。</li>
            <li>屏蔽垃圾输入，寻求优质信息源， 才能输出优质信息。</li>
            <li>看到这，你已经被我的观念输入一遍了。</li>
          </ul>
        </div>
      </div>
      
      
    </div>
  </section>
</BaseLayout>
